body {
	@apply bg-white dark:bg-gray-900;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
p,
time,
div {
	@apply text-gray-800 dark:text-white
}

 /* Handle Overflow With Table Output */

table {
	display: block !important;
	overflow-x: auto;
	white-space: nowrap;
	font-size: 75%;
	border:none;

}

th {
	@apply py-3 px-6
}

td {
    text-overflow:ellipsis;
    overflow:hidden;
    max-width: 15em;
	@apply py-4 px-6
}