---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import BlogPostsList from '../components/BlogPostsList.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 class="pt-16 text-center text-4xl text-sky-600 dark:text-sky-400 md:text-5xl xl:text-6xl font-display">
				Learn with me about data, storytelling, and design
			</h1>
			<div class="flex justify-center">
				<BlogPostsList />
			</div>
		</main>
		<Footer />
	</body>
</html>
