---
import '../styles/wedding/bootstrap.min.css';
import '../styles/wedding/style.css';
---

<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- Page Title -->
	<title>Xiaocen and Alexander Wedding</title>
	
	<!-- Mobile Meta Tag -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- Fav and touch icons -->
	<link rel="shortcut icon" type="image/jpg" href="../images/wedding/fav_touch_icons/favicon.jpg" />

	<!-- Google Web Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>
<body>
	<!-- BEGIN WRAPPER -->
	<div id="wrapper">
		<!-- BEGIN HOME SECTION -->
		<section id="home" class="divider-bottom-1">
			<div class="container">
				<div class="row">
                    <div class="relative z-10 hero-font text-white text-7xl lg:text-[60pt]  my-20">Xiaocen & Alexander wedding</div>
                        <div class="relative z-10 mt-10">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart z-10 absolute right-0 left-0 w-1/3 md:-top-20 -top-8  stroke-purple-300 mx-auto"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                            <img class="w-1/3 h-1/6 mx-auto rounded-full z-0 relative" src="../images/wedding/engagement-118.jpg" alt="XA">
                            <a href="https://forms.gle/TLkHj92mXbMaMsQ7A">
                                <button class="hero-font mt-5 px-10 py-5 pl-20 pr-20 text-6xl tracking-wide text-white capitalize transition-colors duration-300 transform bg-purple-400 rounded-lg hover:bg-violet-600 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
                                    <span class="mx-1">RSVP</span>
                                </button></a>
                                <div class="hero-subtitle mt-20">2 July 2023</div>
                        </div>

				</div>
			</div>
		</section>
		<!-- END HOME SECTION -->
		
		
		<!-- BEGIN OUR STORY SECTION -->
		<section id="ourstory" class="mb-20">

				<div class="grid grid-cols-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#D8B4FE" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart z-10 absolute right-0 left-0 w-1/5 top-96  stroke-purple-300 mx-auto"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>		
					<div class="mx-auto w-full">
                        <h3 class="story-elem text-center">Xiaocen Wang<small>13.06.1988</small></h3>
						<img src="../images/wedding/engagement-1199.jpg" alt="Xiaocen" />
					</div>
                    
					<div>
                        <h3 class="story-elem text-center">Alexander Fridriksson<small>31.12.1989</small></h3>
						<img src="../images/wedding/engagement-1180.jpg" alt="Alexander" />
					</div>
				</div>
		</section>
		<!-- END OUR STORY SECTION -->
		
		<!-- BEGIN QUOTE SECTION -->
		<section class="parallax quote-fullwidth bg-color-overlay">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						Life is a series of things you're not quite ready for, but with you the best is yet to come
					</div>
				</div>
			</div>
		</section>
		<!-- END QUOTE SECTION -->
		
		
		<!-- BEGIN TIMELINE SECTION -->
		<section id="loveline" class="divider-bottom-2 divider-pattern divider-bg-color mt-20">
			<div class="container">
				<div class="row">
				</div>
				<div class="row">
					<div class="timeline">
                        <h1 class="section-title bg-white">Our Love Story...</h1>
						<div class="year"><span class="ribbon">2020<br>  
                        
                        </span> </div>
						
						<div class="event_left">
							<div class="event_panel">
								<h3>04 Oct: First date</h3>
							</div>
						</div>
						
						<div class="event_right">
							<div class="event_panel">
								<h3>07 Nov: First picture together</h3>
							</div>
						</div>
						
						<div class="event_left">
							<div class="event_panel">
								<h3>3rd Dec: Officially a couple</h3>
							</div>
						</div>
						
						<div class="year"><span class="ribbon">2021</span></div>
						
						<div class="event_left" >
							<div class="event_panel">
								<h3>24 Sept: First international trip - Iceland</h3>
								</div>
						</div>
						
						<div class="event_right" >
							<div class="event_panel">
								<h3>17 Dec: See Alexanders family in Norway</h3>
								</div>
						</div>

						<div class="year"><span class="ribbon">2022</span></div>
						
						<div class="event_left" >
							<div class="event_panel">
								<h3>26 Feb: Officially moved in together</h3>
								</div>
						</div>
						
						<div class="event_right" >
							<div class="event_panel">
								<h3>20 Aug: Got Engaged</h3>
								</div>
						</div>

					</div>

					<div class="timeline_footer">
						<div class="punchline">And so the <span>Adventure<br>continues</span></div>
					</div>
				</div>
			</div>
		</section>
		<!-- END TIMELINE SECTION -->
		
		<!-- BEGIN THE WEDDING SECTION -->
		<section id="location" class="bg-color pattern">
			
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="section-title">The Wedding location</h1>
					</div>
                    <div class="center">
                        <a href="https://forms.gle/TLkHj92mXbMaMsQ7A">
                            <button class="hero-font my-10 px-10 py-5 pl-20 pr-20 text-6xl tracking-wide text-white capitalize transition-colors duration-300 transform bg-purple-400 rounded-lg hover:bg-violet-600 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
                                <span class="mx-1">RSVP</span>
                            </button></a>
                    </div>
					<div class="col-sm-10 col-sm-offset-1">
						<div class="location-info timeline">
							<a href="http://maps.google.com/?q=Kirkja+Sj%C3%B6unda+Dags+A%C3%B0ventista+Tjarnarsk%C3%B3li%2C+Mi%C3%B0b%C3%A6r%2C+Ing%C3%B3lfsstr%C3%A6ti+19+Reykjavik+101+Iceland+">
                            <div class="event_left" >
								<div class="event_panel">
									<div class="info-left">
										<h4 class="text-center">Ceremony <small>14:00-15:30</small></h4>
									</div>
									<div class="info-right">
										<h4 class="text-center" >Kirkja Sjöunda Dags Aðventista </h4>
										<p class="text-center mt-10">Ingólfsstræti 19, Reykjavik, Iceland </p>
                                        <h4 class="text-center mt-10 mb-10"><small>Click for map</small></h4>
									</div>
								</div>
							</div>
                            </a>
							<a href="http://maps.google.com/?q=Su%C3%B0urhl%C3%AD%C3%B0arsk%C3%B3li+Su%C3%B0urhl%C3%AD%C3%B0+36%2C+Reykjav%C3%ADk%2C+Iceland+Reykjav%C3%ADk+106+Iceland+">
							<div class="event_right">
								<div class="event_panel">
									<div class="info-left">
										<h4 class="text-center">Reception <small>16:00 - 20:00</small></h4>
									</div>
									
									<div class="info-right">
										<h4 class="text-center">Suðurhlíðarskóli</h4>
										<p class="text-center mt-10">Suðurhlíð 36, Reykjavík, Iceland</p>
                                        <h4 class="text-center mt-10 mb-10"><small>Click for map</small></h4>
									</div>
								</div>
							</div>
                            </a>
						</div>
					</div>
				</div>
			</div>

		</section>
		
		<!-- END THE WEDDING SECTION -->

		
	</div>
	<!-- END WRAPPER -->

</body>
</html>