---
const today = new Date();
import {SITE_TITLE} from '../config';
import SocialIcons from './socialIcons.astro';
---

<footer class="grid justify-items-center">
	<p class="pb-2"> &copy; {today.getFullYear()} {SITE_TITLE}. All rights reserved.</p>
	<SocialIcons />
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		margin-top: 1rem;
	}
</style>
